body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 1fr 13.5fr 1fr;
}

.header-wrap {
    color: rgb(40, 105, 148);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}

.header-left-side {
    padding: 15px;
}

.header-right-side {
    padding: 15px;
    color: rgb(29, 29, 29);
}

main {
    background-color: rgb(40, 105, 148);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 800px;
}

#form-wrap {
    left: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    color: white;
    background-color: rgb(207, 61, 24);
    width: 120px;
    height: 50px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    margin-left: 10px;
    outline: none;
}

.button:active {
    background-color: rgb(204, 100, 74);
    outline: none;
    top: 8px;
}

.button {
    border: none;
}

#input-mail {
    width: 600px;
    height: 45px;
    border-radius: 8px;
    border: none;
    outline: none;
}

::placeholder {
    color: rgb(145, 143, 143);
    font-style: italic;
    text-align: center;
    font-size: 15px;
}

.footer-wrap {
    color: rgb(40, 105, 148);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}
.footer-right-side {
    margin-right: 15px;
}
.footer-logo {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

@media (max-width: 380px) {
    main {
        background-color: rgb(40, 105, 148);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logo-img {
        width: 230px;
        margin-bottom: 50px;
    }

    #form-wrap {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .button {
        color: white;
        background-color: rgb(207, 61, 24);
        width: 80px;
        height: 50px;
        padding: 15px;
        border-radius: 8px;
        border: none;
        text-transform: uppercase;
        outline: none;
    }
    
    .button:active {
        background-color: rgb(204, 100, 74);
        outline: none;
        top: 8px;
    }
    
    .send-text {
        width: 250px;
        height: 45px;
        border-radius: 8px;
        border: none;
        display: block;
        margin-bottom: 15px;
    }
}

@media (max-width: 800px) {
    main {
        background-color: rgb(40, 105, 148);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logo-img {
        width: 320px;
        margin-bottom: 50px;
    }

    #form-wrap {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .button {
        color: white;
        background-color: rgb(207, 61, 24);
        width: 80px;
        height: 50px;
        padding: 15px;
        border-radius: 8px;
        border: none;
        text-transform: uppercase;
        outline: none;
        margin-left: 105px;
    }
    
    .button:active {
        background-color: rgb(204, 100, 74);
        outline: none;
        top: 8px;
    }
    
    .send-text {
        width: 290px;
        height: 45px;
        border-radius: 8px;
        border: none;
        display: block;
        margin-bottom: 15px;
    }
}